body {
    background-color: rgb(250, 243, 242);
}

.nav-about {
    background-color: white;
    color: black;
}

section:first-child {
    margin-top: 10%;
}

section {
    margin: 5% 5%;
}

.aboutus img {
    width: 100%;
    margin-top: 3%;
}

section:nth-child(odd) h2 {
    font-size: 48px;
    color: orangered;
}

section:first-child h4 {
    font-size: 24px;
    margin-bottom: 1%;
}

.relations {
    display: flex;
    gap: 17%
}

.relations div {
    width: 400px;
}

.relations p {
    font-size: 16px;
    margin: 4% 0;
    line-height: 35px;
}

/* LEFT OFF ON THIS SECTION. REMEMBER. */

.associates h2 { 
    font-size: 32px;
}

.REA {
    font-size: 20px;
}

.REA p {
    margin-bottom: 10%;
}

.REA h3::before {
    content: '';
    display: flex;
    width: 70px;
    border-top: solid 1px black;
    padding-bottom: 5%;
}

.mission h4 {
    font-size: 24px;
}

.mission h2 {
    margin: 5% 0;
}

.mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: solid 1px black;
}

.text {
    width: 400px;
}

.text p {
    line-height: 35px;
}

@media screen and (max-width:400px) {

    .relations, .mission {
        flex-direction: column;
        margin: auto;
    }

    .relations p, .relations h2, .relations h3, .mission h4, .mission h2, .mission p {
        width: 350px;
        margin: 5%;
    }

    .mission {
        width: 390px;
    }

    .section h2 {
        font-size: 26px;
    }

    img {
        object-fit: cover;
        margin: 0;
    }
}

/* END PHONE RESPONSIVE */

@media screen and (min-width:700px) and (max-width:1024px) {
    
    .mission {
        flex-direction: column;
        align-items: start;
        margin: auto;
    }

    .mission p, .mission h2, .mission h4 {
        width: 750px;
        margin: 0 3%;
    }
    
    .mission img {
        object-fit: cover;
        width: 768px;
    }

}