footer {
    margin: 3% 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

/* .foot2 {
    display: flex;
} */

.foot1 div {
    margin-right: 5%;
}

.footer ul {
    border: none;
    list-style: none;
    line-height: 30px;
}

.footer li a {
    color: black;
}

.MCR a {
    color: black;
    margin-right: 10%;
}

.MCR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h3 {
    font-size: 26px;
    margin-bottom: 15px; 
}

.contact {
    background-color: orangered;
    color: black;
    width: 173px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px orangered;
    transition: 0.5s;
}

.contact:hover {
    transition: 0.5s;
    border: solid 1px black;
    background-color: transparent;
    color: black;
}

.footnote {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    font-size: 14px;
}

.footnote a {
    color: black;
    text-decoration: underline;
    font-size: 16px;
}

.inquiries p {
    width: 200px;
    line-height: 35px;
}

@media screen and (max-width:400px) {

    .footer {
        flex-direction: column;
        max-width: 380px;
        margin: 5%;
    }

    .MCR {
        align-items: start;
        margin-bottom: 20%;
    }

    .footnote {
        position: relative;
    }
    
    .footnote a:nth-child(2) {
        background-color: orangered;
        width: 75px;
        height: 75px;
        position: absolute;
        bottom: 80px;
        right: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
