* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html {
    scroll-behavior: smooth;
}

nav, nav ul {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
}

nav ul li {
    position: relative;
    list-style: none;
    height: 69px;
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul div {
    position: absolute;
    top: 0;
    left: 0;
    width: 117px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.501);
    transition: 0.5s;
}

nav ul div:hover {
    transition: 0.5s;
    color: black;
    background-color: white;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callnow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 71px;
    background-color: orangered;
    border: 1px solid orangered;
    color: black;
    margin-left: 2px;
    transition: 0.6s;
}

.callnow:hover {
    transition: 0.6s;
    background-color: black;
    color: orangered;
}

ul {
    border: solid 1px orangered
}

a {
    text-decoration: none;
    color: white;
}

.MCRbutton{ 
    background-color: rgba(0, 0, 0, 0.49);
    width: 140px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid orangered;
    /* margin-right: 700px; */
}
/* ^ to the left of navigation buttons */

.MCRbutton h2 {
    font-size: 28px;
}

.MCRbutton p {
    font-size: 14px;
    width: auto;
}

/* and now this is the responsive
section. need burger menu first... but
 all i have to do is hide the nav */

@media screen and (max-width:1920px) {
    .responsivenav .navlist {
        display: none;
    }
}


@media screen and (max-width:600px) {

    .navlist {
        display: none;
    }

    /* .responsivenav .navlist {
        display: flex;
    } */

    .MCRbutton {
        margin-right: 50%;
    }

    video {
        width: 100%;
        height: 600px;
    }

}